# Day 1 of Data Science by Harshit Dawar

## Topics for day 1
- Introduction
- Motivational stories
- Python basic to advanced
  - Numbers
  - Strings
  - Variables

## Numbers

In [4]:
2 + 3

5

In [5]:
6 * 7

42

In [6]:
# Float Division 

7 / 3

2.3333333333333335

In [7]:
# Integer Division

7 // 3

2

In [8]:
# Taking Remainder
7 % 3

1

## Strings

In [9]:
"Hello"

'Hello'

In [10]:
"World"

'World'

In [11]:
# String Concatenation
" Hello " + " World "

' Hello World'

## Print Function

In [12]:
print(2 + 3)

5

In [13]:
print("Hello")  
print("World")

Hello
World

In [16]:
print("Hello", end = " ")
print("World")

Hello World

In [18]:
print("Hello", "World", sep ="-")

Hello-World

### Variables and type checking of Variables

In [19]:
x = 5

In [21]:
print(x)

5

In [22]:
print(type(x))

<class 'int'>

In [23]:
x = "Hello"

In [24]:
print(x)

Hello

In [25]:
print(type(x))

<class 'str'>

In [26]:
x = 5.7

In [27]:
print(x)

5.7

In [28]:
print(type(x))

<class 'float'>

## Type Conversion

In [29]:
x = 5 / 3

In [30]:
print(type(x))

<class 'float'>

In [31]:
x

1.6666666666666667

In [32]:
print(int(x))

1

## Escape Sequence

In [34]:
# "\n"
print("Hello \nWorld")

Hello
World

In [35]:
# "\t" stands for tab
print("Hello\tWorld")

Hello	World

## Mutability

In [41]:
# It refers that the value can be changed or reassigned, and vice versa is Immutability.

## Data Types in python
- Basically we will be working with:
  - List
  - Dictionary
  - Tuple
  - Set

### List

In [43]:
# It is mutable data-type, it is defined as the colelction of different types of elements.

example_list1 = []
example_list2 = [1,2,3,4,5]

In [44]:
print(example_list1, example_list2)

[] [1, 2, 3, 4, 5]

In [45]:
example_list2[2]

3

In [46]:
example_list2[2] = 7

In [47]:
example_list2

[1, 2, 7, 4, 5]

In [48]:
example_list2.append(9)

In [49]:
example_list2

[1, 2, 7, 4, 5, 9]

In [50]:
example_list2.append("Hello")

In [51]:
example_list2

[1, 2, 7, 4, 5, 9, 'Hello']

In [52]:
example_list2.extend("Hello")

In [53]:
example_list2

[1, 2, 7, 4, 5, 9, 'Hello', 'H', 'e', 'l', 'l', 'o']

In [54]:
# Remove method deletes the element by value
example_list2.remove(4)

In [55]:
example_list2

[1, 2, 7, 5, 9, 'Hello', 'H', 'e', 'l', 'l', 'o']

In [59]:
del example_list2[1]

In [60]:
example_list2

[1, 7, 5, 9, 'Hello', 'H', 'e', 'l', 'l', 'o']

In [61]:
a = example_list2.pop(1)

In [62]:
a

7

In [63]:
example_list2

[1, 5, 9, 'Hello', 'H', 'e', 'l', 'l', 'o']

### Dictionary

In [64]:
# It is just a key-value pair.
# It is mutable type.
dic = {}

In [65]:
dic[1] = "Hello"

In [66]:
dic

{1: 'Hello'}

In [67]:
dic[2] = "World"

In [68]:
dic

{1: 'Hello', 2: 'World'}

In [73]:
dic[1] = "Hello1"

In [74]:
dic

{1: 'Hello1', 2: 'World'}

In [70]:
print(dic.keys())

dict_keys([1, 2])

In [71]:
dic.values()

dict_values(['Hello', 'World'])

In [72]:
dic.items()

dict_items([(1, 'Hello'), (2, 'World')])

### Tuple

In [75]:
# It is Immutable.

example_tuple = ()
example_tuple2 = (1,2,4,5,6,7,8,9)

In [77]:
example_tuple2[3] = 10

TypeError: 'tuple' object does not support item assignment

### Set

In [78]:
# It is colelction of unique elements!
example_set = {"Hello", "Hi", "India", "India", "Bye"}

In [79]:
example_set

{'Bye', 'Hello', 'Hi', 'India'}

In [80]:
example_set[1] = "India"

TypeError: 'set' object does not support item assignment

### Conditional Logic

In [84]:
i = 7




if i == 2:
    
    print("Lower number")
    print("Lower number")
    

    
elif i == 5:
    print("Desired output")
    
else:
    if i == 6:
        print("i = 6")
    else:
        print("Higher value")

Higher value

### Slicing

In [85]:
example_list2

[1, 5, 9, 'Hello', 'H', 'e', 'l', 'l', 'o']

In [86]:
example_list2[ : 6 ]

[1, 5, 9, 'Hello', 'H', 'e']

In [87]:
example_list2[ :  ]

[1, 5, 9, 'Hello', 'H', 'e', 'l', 'l', 'o']

In [88]:
example_list2[-1]

'o'

In [89]:
example_list2[ : -1  ]

[1, 5, 9, 'Hello', 'H', 'e', 'l', 'l']

In [90]:
example_list2[ :: -1 ]

['o', 'l', 'l', 'e', 'H', 'Hello', 9, 5, 1]

### Predefined Functions

In [91]:
len(example_list2)

9

In [93]:
abs(5), abs(-5)

(5, 5)

In [94]:
float(1)

1.0

In [95]:
int(5.3)

5

In [100]:
l = [4,1,7,2,3,5,6]

a =sorted(l)

In [102]:
a,l

([1, 2, 3, 4, 5, 6, 7], [4, 1, 7, 2, 3, 5, 6])

In [97]:
l

[4, 1, 7, 2, 3, 5, 6]

In [98]:
l.sort()

In [99]:
l

[1, 2, 3, 4, 5, 6, 7]

### Creating custom function

In [103]:
# Without Paramaters
def display():
    print("Day 1 of data science training!")

In [105]:
display()

Day 1 of data science training!

In [106]:
# With Paramaters
def add(a, b):
    print(a + b)

In [114]:
x = add(2,3)

5

In [108]:
add(1, 2)

3

In [109]:
# return statement example
def add1(a, b):
    return a + b

In [111]:
x = add1(1, 2)

In [113]:
print(x)

3

### Global Keyword

In [116]:
# It is used to provide the access of any variable from anywhere in the program!

In [120]:
i = 2

def x():
    global i
    print(i)

In [121]:
x()

2